<!DOCTYPE html>
<html lang="en" color-mode="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is a Sorting Algorithm Visualiser, made by Alex Merren.You can find out more about the developer at www.alexmerren.uk" />
    <title>Sorting Algorithm Visualiser</title>
    <link type="text/css" rel="stylesheet" href="/css/sorting.css" />
    <link type="image/png" rel="shortcut icon" href="/img/favicon.png"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/sortingPage.js"></script>
    <script type="text/javascript" src="/js/sortingFunction.js"></script>
</head>

<body>
    <div class="header">
        <a id="back" href="/">&#8249;</a>
        <h1 id="title"><a href=".">Sorting Algorithm Visualiser</a></h1>
    </div>
    <div class="options-canvas-div">
        <div class="sidebar">
            <div class="options">
                <h3>Functions</h3>
                <button id="refresh">Generate New Array</button>
                <button id="bubble">Bubble Sort</button>
                <button id="selection">Selection Sort</button>
                <button id="insertion">Insertion Sort</button>
                <button id="quick">Quick Sort</button>
                <button id="cocktail">Shaker Sort</button>
            </div>
            <div class="settings">
                <h3>Settings</h3>
                <input type="number" id="arr-size"></input>
                <input type="number" id="delay"></input>
            </div>
        </div>
    <div class="canvas"></div>
</body>

</html>
