<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alex Merren</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
        <link type="text/css" rel="stylesheet" href="/css/responsive.css" />
        <link rel="apple-touch-icon" href="/img/favicon.ico">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <script src="/js/scripts.js"></script>
    </head>
    <body class>
        <!-- NAV BAR -->
        <div class="nav">
            <a id="home-link" class="page-link" href="#home" onclick="makeActive('home')">Home</a>
            <a id="about-link" class="page-link" href="#about" onclick="makeActive('about')">About</a>
            <a id="project-link" class="page-link" href="#projects" onclick="makeActive('project')">Projects</a>
            <a id="contact-link" class="page-link" href="#contact" onclick="makeActive('contact')">Contact</a>
        </div>
        <h1> ELLIE IS STINKY </h1>
        <!-- FOOTER -->
        <footer class="footer">
            <div class="footer-column">
                <p id="footer-left">&copy; Alex Merren</p>
            </div>
            <div class="footer-column">
                <div class="socials">
                    <a href="http://www.github.com/alexmerren"><img class="githubLogo" src="/img/githubLogo.png" alt="Github logo"></img></a>
                    <a href="http://www.instagram.com/alexmerren"><img class="instagramLogo" src="/img/instagramLogo.png" alt="Instagram logo"></img></a>
                </div>
            </div>
            <div class="footer-column">
                <p id="footer-right"><a href="mailto:alexandermerren@gmail.com?subject=Site Issues">Report Issues</a></p>
            </div>
        </footer>
    </body>
</html>
