<footer class="footer">
    <div class="footer__column">
        <p id="footer__left">&copy; Alex Merren</p>
    </div>
    <div class="footer__column">
        <a class="logo" href="http://www.linkedin.com/in/alexmerren/"><img
                src="/img/linkedin-tile.svg"></img></a>
        <a class="logo" href="http://www.facebook.com/a.merren00/"><img src="/img/facebook-tile.svg"
                alt="Facebook Logo" /></a>
        <a class="logo" href="http://www.instagram.com/alexmerren"><img src="/img/instagram-tile.svg"
                alt="Instagram Logo" /></a>
        <a class="logo" href="http://www.github.com/alexmerren"><img src="/img/github-tile.svg"
                alt="Github Logo" /></a>
    </div>
    <div class="footer__column">
        <p id="footer__right"><a href="mailto:alexandermerren@gmail.com?subject=Site Issues">Report Issues</a></p>
    </div>
</footer>
</body>

</html>
