
<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %> | Alex Merren</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Visit Alex Merren's website for more information on his projects,
        his contact information, and what he is into. Alex Merren is a developer
        that is currently located in the South West of England. You can learn more
        by visiting www.alexmerren.uk"/>
    <link rel="icon" href="/img/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/css/responsive.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>

<body>
<!-- HEADER -->
<header id="header">
    <h1 id="title"><a href=".">A</a></h1>
    <div class="nav">
        <a href="#projects">Projects</a>
        <a href="/sorting">Sorting Visualiser</a>
    </div>
</header>
