<%- include('header.html') -%>

<!-- INTRO -->
<section id="intro" class="content">
    <div id="intro__left">
        <h1>I'm Alex Merren.</h1>
        <p>I am currently studying <b>Computer Science and Mathematics</b> at <b>University of Exeter</b>. I have recently started an internship at <b>Hewlett-Packard Enterprise</b> from <b>July 2021 - July 2022</b>.<br><br></p>
    </div>
    <img id="intro__right" src="/img/me.png" alt="Photo of Alex Merren" />
</section>
<hr>
<!-- PROJECTS -->
<section id="projects" class="content">
    <h2>Projects</h2>
    <p id="projects__mobile">You can view my projects on <a href="https://www.github.com/alexmerren">my GitHub.</a></p>
    <div>
        <table class="repos"></table>
    </div>
</section>
<hr>

<%- include('footer.html') -%>
