<!DOCTYPE html>
<html>
    <head>
        <title>Alex Merren</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
        <link rel="shortcut icon" href="#" />
        <script src="/js/scripts.js"></script>
    </head>
    <body class>
        <!-- HOME -->
        <section id="home" class="content">
            <div class="title">
                <h1 id="lead-up">Hello, I'm </h1>
                <h1 id="name"><a href="/">Alex Merren.</a></h1>
                <p id="email">Contact me at <a href="mailto:alexandermerren@gmail.com">alexandermerren@gmail.com</a></p>
                <p id="button"><a href="#about" onclick="makeActive('about')">Alternatively, look at my website here</a></p>
            </div>
        </section>
        <!-- NAV BAR -->
        <div class="nav">
            <a id="home-link" class="page-link" href="#home" onclick="makeActive('home')">Home</a>
            <a id="about-link" class="page-link" href="#about" onclick="makeActive('about')">About</a>
            <a id="project-link" class="page-link" href="#projects" onclick="makeActive('project')">Projects</a>
            <a id="contact-link" class="page-link" href="#contact" onclick="makeActive('contact')">Contact</a>
            <a href="http://github.com/alexmerren"><img class="githubLogo" src="/img/githubLogo.png" alt="Github logo"></img></a>
        </div>
        <!-- ABOUT -->
        <section id="about" class="content">
            <div>
                <h2>About</h2>
            </div>
        </section>
        <!-- PROJECTS -->
        <section id="projects" class="content"> 
            <div>
                <h2>Projects</h2>
                <p>This is the projects section haha what</p>
            </div>
        </section>
        <!-- CONTACT -->
        <section id="contact" class="content">
            <div>
                <h2>Contact</h2>
            </div>
        </section>
        <!-- FOOTER -->
        <footer class="footer">
            <p>This is the footer</p>
        </footer>
    </body>
</html>
