<!DOCTYPE html>
<html>
    <head>
        <title>Alex Merren</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css" >
    </head>
    <body>
        <div class="nav">
            <ul>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Alex Merren</h1>
        </div>
    </body>
</html>
