<!DOCTYPE html>
<html lang="en" color-mode="light">

<head>
    <title>Alex Merren | Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Visit Alex Merren's website for more information on his projects,
        his contact information, and what he is into. Alex Merren is a developer
        that is currently located in the South West of England. You can learn more
        by visiting www.alexmerren.uk"/>
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" href="/img/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/css/responsive.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>

<body>
    <!-- HEADER -->
    <header id="header">
        <h1 id="title"><a href=".">A</a></h1>
        <div class="nav">
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
            <a href="sorting/">Sorting Visualiser</a>
            <!-- <img onClick="toggleTheme()" src="/img/theme.png" class="theme-toggle"/> -->
        </div>
    </header>
    <!-- INTRO -->
    <section id="intro" class="content">
        <h1>Hey &#128075;, I'm Alex.</h1>
        <h2>I'm a developer. Check out my stuff below.</h2>
    </section>
    <!-- ABOUT -->
    <section id="about" class="content">
        <h2>About</h2>
        <div id="about__inner">
            <div>
                <img id="about__photo" src="/img/me.png" alt="Photo of Alex Merren" />
            </div>
            <div id="about__text">
                <p>
                    My name is Alex. I am a student at the
                    University of Exeter; currently studying Computer Science
                    and Mathematics.<br><br>I have a keen interest in freelance development,
                    focusing on web development and C-family languages. If you have any
                    requests, do not hesitate to contact me in the contact form below!
                    <br><br>I am expecting to intern at HP Enterprise from July 2021 - July 2022.
                </p>
                <a href="#projects">You can view my work here.</a>
            </div>
        </div>
    </section>
    <!-- PROJECTS -->
    <section id="projects" class="content">
        <h2>Projects</h2>
        <p id="projects__mobile">You can view my projects on <a href="https://www.github.com/alexmerren">my GitHub.</a></p>
        <div>
            <table class="repos"></table>
            <button onclick=updateTable()>Update Table</button>
        </div>
    </section>
    <!-- CONTACT -->
    <section id="contact" class="content">
        <h2>Contact</h2>
        <div id="contact__top">
            <div class="contact__entry">
                <p>Full Name</p>
                <input />
            </div>
            <div class="contact__entry">
                <p>Email Address</p>
                <input />
            </div>
        </div>
        <div id="contact__message" class="contact__entry">
            <p>Message</p>
            <input />
        </div>
    </section>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer__column">
            <p id="footer__left">&copy; Alex Merren</p>
        </div>
        <div class="footer__column">
            <div class="socials">
                <a class="logo" href="http://www.linkedin.com/in/alexmerren/"><img
                        src="/img/linkedin-tile.svg"></img></a>
                <a class="logo" href="http://www.facebook.com/a.merren00/"><img src="/img/facebook-tile.svg"
                        alt="Facebook Logo" /></a>
                <a class="logo" href="http://www.instagram.com/alexmerren"><img src="/img/instagram-tile.svg"
                        alt="Instagram Logo" /></a>
                <a class="logo" href="http://www.github.com/alexmerren"><img src="/img/github-tile.svg"
                        alt="Github Logo" /></a>
            </div>
        </div>
        <div class="footer__column">
            <p id="footer__right"><a href="mailto:alexandermerren@gmail.com?subject=Site Issues">Report Issues</a></p>
        </div>
    </footer>
</body>

</html>
