<!DOCTYPE html>
<html>
    <head>
        <title>Alex Merren</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
        <link rel="shortcut icon" href="#" />
        <script src="/js/scripts.js"></script>
    </head>
    <body>
        <div class="nav">
            <ul>
                <li><button id="projectToggle" onclick="showPane('project')">Projects</button></li>
                <li><button id="aboutToggle" onclick="showPane('about')">About</button></li>
                <li><button id="contactToggle" onclick="showPane('contact')">Contact</button></li>
                <li><a href="http://github.com/alexmerren"><img class="githubLogo" src="/img/githubLogo.png" alt="Github logo"></img></a></li>
            </ul>
        </div>
        <div class="title">
            <h1><a href="/">Alex Merren</a></h1>
        </div>
        <div class="content" id="projectDiv">
            <h2>Projects section</h2>
            <p>This is the projects section haha what</p>
        </div>
        <div class="content" id="aboutDiv">
            <h2>About section</h2>
        </div>
        <div class="content" id="contactDiv">
            <h2>Contact section</h2>
        </div>
        <footer class="footer">
            <p>Image by <a href="http://www.matthieuvenot.fr/" >Matthieu Venot</a></p>
        </footer>
    </body>
</html>
