:root {
    --bright-blue: #3EC9F0;
    --bright-pink: #F0739B;
    --alternate-background: #DFDFE6;
    --home-background: #003649;
    --nav-background: #004E63;
    --highlight: #F0DD05;
}

h1, h2, h3, p, a, li {
    color: black;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white; 
    margin: 0;
}

/* ==== Navbar stuff goes here ==== */

.nav {
    position: sticky;
    overflow: hidden;
    top: -1px;
    margin: auto;
    background-color: var(--nav-background);
    border-bottom: 2px solid var(--bright-blue);
}

.nav a {
    color: white;
    font-weight: bold;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 20px;
    transition: background-color 500ms;
}

.nav a:hover {
    background-color: var(--bright-pink);
    transition: background-color 500ms;
 }


/* ==== Page content goes here ==== */

section div {
    margin: auto;
    width: 90%;
}

.title {
    padding: 30vh 0;
    text-align: center;
    text-shadow: 5px black;
}

.title h1 {
    display: inline;
    font-size: 72px;
}


.content {
    height: 100vh;
}

.content h2 {
    padding-top: 85px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

#home p, #home h1, #home a {
    color: white;
}

#home {
    background-color: var(--home-background);
    height: 100vh;
}

#lead-up {
    color: white;
}

#name a {
    color: var(--bright-pink);
    font-weight: 600;
}

#email a {
    color: white; 
    text-decoration: underline;
}

#button {
    margin: 5px;
    border: 2px solid white;
    padding: 10px;
    display: inline-block;
    transition: background-color 500ms, border 500ms; 
}

#button:hover {
    background-color: var(--bright-blue);
    border: 2px solid var(--bright-blue);
}

#projects {
    background-color: var(--alternate-background);
}

/* ==== Footer content goes here ====*/

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding-bottom: 7%;
    font-size: smaller;
}

.footer-column {
    float: left;
    width: 33%;
}

.footer p, .footer a {
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

.footer a {
    text-decoration: underline;
}

.socials {
    text-align: center;
    padding-top: 16px;
}

.socials img {
    overflow: hidden;
    height: 10px;
    margin: 0 10px;
    filter: contrast(300%) invert(50%);
    -webkit-transform: scale(2.5);
}

.socials img:hover {
    filter: invert(0%);
}   

#footer-left {
    padding-left: 15%;
}

#footer-right {
    float: right;
    padding-right: 15%;
}

