
:root[color-mode="light"] {
    --surface1:#E6E6E6;
    --surface2:#F2F2F2;
    --surface3:#FFFFFF;
    --element1:#111111;
    --element2:#222222;
    --element3:#333333;
    --primary:#F44336;
    --secondary:#448AFF;
    --tertiary:#00A337;
}

:root[color-mode="dark"]{
    --surface1:#262626;
    --surface2:#333333;
    --surface3:#404040;
    --element1:#EEEEEE;
    --element2:#DDDDDD;
    --element3:#CCCCCC;
    --primary:#8B201D;
    --secondary:#104C90;
    --tertiary:#007A29;
}

body {
    background: var(--surface1);
    transition: background-color 500ms color 500ms;
    margin: 0;
}

* {
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--element1);
}
/* ==== Navbar stuff goes here ==== */

.nav {
    display: flex;
    flex-direction: row;
    flex-flow: flex-start;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: -1px;
    background-color: var(--surface2);
    border-bottom: 2px solid var(--surface3); 
}

.nav a {
    color: var(--element3);
    font-weight: bold;
    padding: 20px;
    transition: color 500ms;
    font-weight: 400;
}

.nav a:hover, .nav > .active{
    color: var(--tertiary);
}

/* ==== Page content goes here ==== */

section div {
    margin: auto;
}

/* == HOME == */

.theme-toggle {
    float: right;
    margin: 2%;
}

.title {
    padding: 30vh 0;
    text-align: center;
    text-shadow: 5px var(--element1);
}

.title h1 {
    display: inline-block;
    font-size: 500%;
    margin: 0px;
}

.content {
    height: 100vh;
}

.content h2 {
    margin: 0px;
    padding-top: 100px;
    text-align: center;
    font-weight: 500;
    font-size: xx-large;
}

#home p, #home h1, #home a {
    color: var(--element1);
}

#home {
    background-color: var(--surface1);
    height: 100vh;
}

#lead-up {
    color: var(--element1);
    padding-right: 10px;
}

#name a {
    font-weight: 600;
    background-image: linear-gradient(45DEG, var(--primary), var(--secondary));
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#email a, #email {
    font-weight: 400;
    color: var(--element1); 
}

#email a {
    text-decoration: underline;
}

#button {
    font-weight: 400;
    margin: 5px;
    border: 2px solid var(--element1);
    padding: 10px;
    display: inline-block;
    width: 250px;
    box-sizing: border-box;
    backface-visibility: hidden;
    transition: background-color 500ms, border 500ms, transform 500ms; 
    -webkit-transition: background-color 500ms, border 500ms, transform 500ms; 
    -webkit-backface-visibility: hidden;
}

#button:hover {
    background-color: var(--tertiary);
    border: 2px solid var(--tertiary);
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
}

/* == About == */

/* == Projects == */

/* == Contact == */

#contact {
    height: 90vh;
}

/* ==== Footer content goes here ====*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}

.footer-column {
    margin: 3%;
}

.footer p, .footer a {
    font-size: medium;
    font-weight: 400;
    color: grey;
}

.socials {
    display: flex;
    align-items: center;
}

.logo {
    margin: 10px;
}

.socials img:hover {
    filter: invert(0%);
}   

.footer a {
    text-decoration: underline;
}

#footer-right a:hover {
    color: var(--element1);
}
