@media only screen and (max-width: 640px) {
    .nav a {
        padding: 10px;
        display: none;
        float: none;
    }

    .title {
        padding: 20vh 0;
    }

    .title h1 {
        display: inline-block;
        margin: 0;
    }

    #lead-up {
        font-size: 55px;
    }

    #name {
        font-size: 60px;
    }

    .content h2 {
        padding-top: 60px;
    }

    .footer {
        padding-bottom: 20%;
    }
}
