@media only screen and (max-width: 1480px) {
    /* === Intro === */

    #intro {
        display: flex;
        flex-direction: column-reverse;
    }

    #intro__right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        text-align: center;
    }

    #intro__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #intro__left h1 {
        font-size: 4rem;
        margin: 1rem 0;
    }

    #intro__left > * {
        max-width: 100%;
    }

    #intro__left p {
        max-width: 100%;
        text-align: justify;
    }


    /* === Footer === */

    .footer{
        flex-direction: column;
        margin-bottom: 2em;
    }

    .footer__column {
        justify-content: center;
        margin: 1em auto;
    }

    .logo img {
        height: 3em;
    }
}

@media only screen and (max-width: 800px) {
    /* === Global === */
    body {
        margin: 4em 2em;;
        max-width: 100%;
    }

    /* === Header === */

    #header {
        display: none;
    }

    #intro__left h1 {
        font-size: 2.5rem;
    }

    /* === Projects === */

    #projects__mobile {
        margin-top: 2em;
        display: block;
    }

    #projects div {
        display: none;
    }

    #projects {
        margin: 0;
    }
}
